set showmode
set smartcase
set incsearch
set hlsearch
"" clear highlights
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>
set clipboard+=unnamed
"" show status line
set laststatus=2
" set showcmd
" set display=lastline
" set cinoptions+=:0
" set shiftwidth=2
" set softtabstop=2

"" search for selection
vmap // y/<C-R>0<CR>

"" Plugin emulation
set surround
set easymotion

"" Use only 2-char search of EasyMotion
let g:EasyMotion_do_mapping = 0 "Disable default mappings
nmap s <Plug>(easymotion-s2)

